<% layout('/layouts/boilerplate',{user})%>

    <% if(possibleConnections.spouse){ %>
        <div>Is <%=possibleConnections.spouse.first%>
                <%=possibleConnections.member.first%>'s Spouse?</div>
        <% }%>

            <% if (possibleConnections.children) { %>
                <% for (let child of possibleConnections.children){ %>
                    <div>Is <%=child.first%>
                            <%=possibleConnections.member.first%>'s Child?</div>
                    <% } %>
                        <%} %>