<% layout('/layouts/boilerplate',{user})%>
    <div class="container-fluid text-center">
        <% if (user) { %>
            <h1> Welcome to <%=user.first%>'s Family Album Home Page! </h1>
            <%} else {%>
                <h1>Welcome to the Family Album home page. </h1>
                <h2>Please register or login!</h2>
                <% } %>


    </div>